body {
  padding: 0;
  margin: 0;
}
.navigation {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  justify-content: space-around;
  font-family: sans-serif;
  line-height: 1.5;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li {
  margin: 15px;
  font-size: 17px;
}

.first {
  display: grid;
  grid-template-columns: auto auto;
  padding: 60px;
  padding-top: 100px;
  background: #000;
  color: white;
}

.odd {
  font-size: 20px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #405cf5;
}
.hero_tittle {
  font-size: 50px;
  line-height: 1.2;
  font-family: sans-serif;
}
.tiny {
  font-size: 20px;
  font-family: sans-serif;
  background: -webkit-linear-gradient(#eee, #424242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.second {
  background: #000;
  display: grid;
  grid-template-columns: auto auto;
  padding: 60px;
  padding-top: 100px;
}

.image2 img {
  width: 500px;
}

.hero_tittle2 {
  font-size: 50px;
  line-height: 1.2;
  font-family: sans-serif;
  color: white;
}
.tiny2 {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  line-height: 1.4;
}
span {
  color: #405cf5;
}
.Third {
  background: #000;
  display: flex;
  padding: 80px;
  padding-top: 100px;
  justify-content: space-between;
}
.hero_tittle3 {
  font-size: 50px;
  line-height: 1.2;
  font-family: sans-serif;
  color: white;
}
.with-us {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.checkbox {
  width: 35px;
}

.uss {
  font-weight: bolder;
  line-height: 1.3;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.3;
  background: -webkit-linear-gradient(#eee, #424242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-10 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .first {
    display: flex;
    flex-direction: column;
    color: white;
    background: black;
    justify-content: center;
    padding: 40px;
  }
  br {
    display: none;
  }
  .image {
    background: red;
    width: 300px;
    display: hide;
  }
  .image img {
    width: 400px;
    display: none;
  }
  .button-9 {
    width: 170px;
  }
  .second {
    display: flex;
    flex-direction: column-reverse;
  }
  .image2 img {
    width: 95%;
  }
  .Third {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0px;
  }
  .Third video {
    width: 95%;
    height: 400px;
  }
  .button-10 {
    width: 170px;
  }
  .list {
    display: none;
  }
}
